:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.inactive {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px; /*arriba y abajo, lados*/
    border-bottom: 1px solid var(--text-input-field);
    box-shadow: 12px 0 8px 2px var(--text-input-field);
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* para centrar los elementos y ponerlos uno al lado de otros */
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email {
    color: var(--dark);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

/*Nuestro carrito debe tener una posicion relativa para que el 2 lo podamos poner encima*/
.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    /* para ubicarlo arriba y a la derecha */
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto; /*para que tome el tamano del contenido*/
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu li {
    text-align: end; /*para alinear a la derecha*/
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block; /*para que pueda tomar el margin de arriba*/
}

@media (max-width: 640px) {
    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }
}